<h1>Voting for <%= @event.name %></h1>

<div class="results">
  <% @vote_categories.each do |category| %>
  <div class="vote-results">
    <div><h1><%= category.name %>: </h1></div>
    <div><h1><span class="vote-count" id='<%= category.id %>-votes'><%= @vote_hash[category.id].nil? ? 0 : @vote_hash[category.id]  %></span></h1></div>
  </div>
  <% end %>
</div>

<script>
  var voteCounts = {};
  function updateVotes() {
    $.ajax({
      type: "GET",
      url: "/events/<%= @event.id %>/votes",
      success: function(data, textStatus, jqXHR) {
        parseVotes(data);
      },
      error: function(jqXHR, textStatus, errorThrown) {

      }
    });
  }
  function parseVotes(votes) {
    voteCounts = {};
    votes.forEach(function(vote) {
      if (voteCounts[vote.vote_category_id] != undefined) {
        voteCounts[vote.vote_category_id] += 1;
      } else {
        voteCounts[vote.vote_category_id] = 1;
      }
    });
    for (var category_id in voteCounts) {
      var el = $('#' + category_id + '-votes')
      var currentVal = el.text();
      if (currentVal < voteCounts[category_id]) {
        el.text(voteCounts[category_id]);
        el.animate({opacity: '0.5'}, 175);
        el.animate({opacity: '1.0'}, 175);
      }
    }
    console.log("updated votes");
  }
  // updateVotes();
  setInterval("updateVotes()", 2000);
</script>
